<h1> Welcome to the Rock Paper Scissors JUNGLE!</h1>

<form action="/winner">
  <div class="form-group">
    <label for="player1">Your move player 1</label>
    <input id="player1" name="player1" class="form-control" type="text">

    <label for="player2">Your move player 2</label>
    <input id="player2" name="player2" class="form-control" type="text">
  </div>

  <button type="submit" class="btn-success">Wanna play?</button>
</form>
